# .env.example
PORT=3055
NODE_ENV=dev

# SQL Server Configuration
DB_HOST=localhost
DB_NAME=PetCareX_OPTIMIZED
DB_USER=sa
DB_PASSWORD=your_database_password
DB_PORT=1433

# JWT Keys
MS_KEY_ACCESS_TOKEN=your_access_token_secret
MS_KEY_REFRESH_TOKEN=your_refresh_token_secret

# Password
STAFF_DEFAULT_PASSWORD=1008
